*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(180deg,#060414,#12002c,#1f0d45);
    min-height:100vh;
    overflow-x:hidden;
    color:white;
}

/* Fondo de estrellas */

#stars{
    position:fixed;
    inset:0;
    z-index:-1;
    pointer-events:none;
    opacity:.55;
}

@keyframes starsMove{

from{
transform:translateY(0);
}

to{
transform:translateY(-300px);
}

}

/* Pantallas */

.screen{
display:none;
height:100vh;
padding:25px;
justify-content:center;
align-items:center;
flex-direction:column;
animation:fade .6s;
}

.active{
display:flex;
}

@keyframes fade{

from{
opacity:0;
transform:translateY(20px);
}

to{
opacity:1;
transform:translateY(0);
}

}

/* Inicio */

#home h1{

font-size:3rem;
margin-bottom:20px;
color:#d7b4ff;
text-shadow:0 0 20px #8b5cf6;

}

#home p{

opacity:.8;
margin-bottom:35px;
text-align:center;

}

button{

background:#8b5cf6;
border:none;
padding:16px 35px;
font-size:18px;
border-radius:30px;
color:white;
cursor:pointer;
transition:.3s;
box-shadow:0 0 20px rgba(139,92,246,.5);

}

button:hover{

transform:scale(1.05);
background:#a855f7;

}

/* Tarjeta */

.card{

width:100%;
max-width:370px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(18px);

border-radius:28px;

padding:25px;

border:1px solid rgba(255,255,255,.15);

box-shadow:0 0 30px rgba(0,0,0,.35);

animation:up .8s;

}

@keyframes up{

from{

transform:translateY(50px);

opacity:0;

}

to{

transform:translateY(0);

opacity:1;

}

}

.card img{

width:100%;
border-radius:18px;

margin-bottom:20px;

box-shadow:0 10px 25px rgba(0,0,0,.5);

}

.card h2{

font-size:26px;
margin-bottom:5px;

}

.card h3{

font-weight:400;
color:#d6d6d6;
margin-bottom:18px;

}

audio{

width:100%;
margin-bottom:22px;

filter:hue-rotate(250deg);

}

.message{

background:rgba(255,255,255,.06);

padding:18px;

border-radius:18px;

font-size:15px;

line-height:1.7;

margin-bottom:20px;

color:#f5eaff;

text-align:center;

}

/* Final */

#end h2{

margin-top:15px;
margin-bottom:15px;
text-align:center;

}

#end p{

text-align:center;
opacity:.85;
margin-bottom:30px;

}

/* Celular */

@media(max-width:480px){

.card{

max-width:95%;

}

#home h1{

font-size:2.5rem;

}

}
